!/log/.keep
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
*~
.byebug_history
.yarn-integrity
/.bundle
/config/credentials/development.key
/config/credentials/production.key
/config/credentials/test.key
/log/*
/node_modules
/public/assets
/public/packs
/public/packs-test
/tmp/*
/tmp/pids/*
/yarn-error.log
config/credentials.yml.enc
config/database.yml
config/master.key
config/puma.rb
spec/examples.txt
yarn-debug.log*
