---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=test_id&app_key=test_key&content-type=application/json&what=remote
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90132'
    body:
      encoding: UTF-8
      string: '{"doc":"https://api.adzuna.com/v1/doc","__CLASS__":"Adzuna::API::Response::Exception","exception":"AUTH_FAIL","display":"Authorisation
        failed"}'
  recorded_at: Mon, 02 Mar 2026 16:11:57 GMT
recorded_with: VCR 6.4.0
