---
http_interactions:
- request:
    method: get
    uri: https://www.arbeitnow.com/api/job-board-api
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '5'
      X-Ratelimit-Remaining:
      - '4'
      Last-Modified:
      - Mon, 02 Mar 2026 15:34:08 GMT
      Speculation-Rules:
      - '"/cdn-cgi/speculation"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"slug":"senior-account-executive-retail-media-solution-munich-246319","company_name":"Mirakl","title":"Senior
        Account Executive, Retail Media Solution","description":"<div class=\"content-intro\"><p>About
        Mirakl<\/p>\n<p>Mirakl is the leading provider of eCommerce software solutions.
        Mirakl''s suite of solutions provides enterprises with a transformative way
        to drive significant growth and efficiency in their online business.<br>&nbsp;<br>Since
        2012, Mirakl has been pioneering the platform economy, empowering retail and
        b2b enterprises with the most advanced, secure and scalable technology to
        digitize and expand product assortment through marketplace and dropship, improve
        efficiency in supplier catalog management and payments, personalize shopping
        experiences, and boost profits through retail media.<\/p>\n<p>Mirakl is trusted
        by Macy''s, Saks, Henry Schein, The Knot, 1800-Flowers, Best Buy, Lowe''s,
        Ulta and 450+ industry-leading businesses worldwide. For more information:
        <a href=\"https:\/\/www.mirakl.com\">www.mirakl.com<\/a>.<\/p>\n<p>&nbsp;<\/p><\/div><p>Mirakl
        launched <strong>Mirakl Ads in 2022<\/strong>, an innovative <strong>retail
        media solution<\/strong> that empowers businesses to monetize their eCommerce
        web traffic across both marketplace and first party offerings while delivering
        more value to advertisers, marketplace sellers and publishers. Mirakl Ads
        is a unique collection of tools that sets it apart from other platforms. By
        leveraging Mirakl''s knowledge in eCommerce best practices, product data management,
        and conversion optimization, we have developed a purpose-built Retail Media
        solution that maximises sales and enhances profitability through digital advertising
        expenditure.&nbsp;<\/p>\n<p>To support the rapid adoption of Mirakl Ads, and
        take an active part in our growth, Mirakl is seeking a&nbsp;<strong>Senior
        Account Executive with expertise in Retail Media.&nbsp;<\/strong><\/p>\n<p>&nbsp;<\/p>\n<p><strong>Your
        Impact:&nbsp;<\/strong><\/p>\n<p>In the role of Senior Account Executive,
        you will play a key part in growing our EMEA business, with a focus on selling
        the Mirakl Ads solution. This position is perfect for those with significant
        sales or closing experience, particularly in the retail media sector. We are
        seeking a self-driven individual who can rapidly develop a pipeline and effectively
        handle both existing and new client relationships. If you are prepared to
        make a substantial impact on our team''s success, we highly encourage your
        application.<\/p>\n<p>&nbsp;<\/p>\n<p><strong>What you will do at Mirakl:<\/strong><\/p>\n<p><strong>Strategic
        &amp; Go\u2011to\u2011Market Leadership<\/strong><\/p>\n<ul>\n<li>Develop
        a go\u2011to\u2011market sales strategy aligned with Quota expectations.<\/li>\n<li>Lead
        conversations on Retail Media benefits, differentiators, and market challenges.<\/li>\n<li>Position
        yourself as a trusted advisor in the Retail Media ecosystem.<\/li>\n<\/ul>\n<p><strong>Sales
        Execution &amp; Pipeline Ownership<\/strong><\/p>\n<ul>\n<li>Engage retailers
        across your territory to promote and sell Mirakl Ads.<\/li>\n<li>Manage the
        full sal[...]
