---
http_interactions:
- request:
    method: get
    uri: https://hn.algolia.com/api/v1/search_by_date?hitsPerPage=100&numericFilters=created_at_i%3C1772468371&tags=job
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 03d1538fcab93ef82d159ff54abf4c2c
    body:
      encoding: UTF-8
      string: '{"exhaustive":{"nbHits":true,"typo":true},"exhaustiveNbHits":true,"exhaustiveTypo":true,"hits":[{"_highlightResult":{"author":{"matchLevel":"none","matchedWords":[],"value":"asontha"},"title":{"matchLevel":"none","matchedWords":[],"value":"Kyber
        (YC W23) Is Hiring an Enterprise Account Executive"},"url":{"matchLevel":"none","matchedWords":[],"value":"https://www.ycombinator.com/companies/kyber/jobs/59yPaCs-enterprise-account-executive-ae"}},"_tags":["job","author_asontha","front_page"],"author":"asontha","created_at":"2026-02-27T18:37:53Z","created_at_i":1772217473,"objectID":"47183907","title":"Kyber
        (YC W23) Is Hiring an Enterprise Account Executive","updated_at":"2026-02-27T18:43:11Z","url":"https://www.ycombinator.com/companies/kyber/jobs/59yPaCs-enterprise-account-executive-ae"},{"_highlightResult":{"author":{"matchLevel":"none","matchedWords":[],"value":"ozgune"},"title":{"matchLevel":"none","matchedWords":[],"value":"Ubicloud
        (YC W24): Software Engineer \u2013 $95-$250K in Turkey, Netherlands, CA"},"url":{"matchLevel":"none","matchedWords":[],"value":"https://www.ycombinator.com/companies/ubicloud/jobs/j4bntEJ-software-engineer"}},"_tags":["[...]
