---
http_interactions:
- request:
    method: get
    uri: https://remotive.com/api/remote-jobs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 02 Mar 2026 13:15:40 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"00-warning": "Remotive main domain moved to remotive.com ! Please
        make your API calls on remotive.com/api/remote-jobs instead of remotive.io
        now ;) Legacy endpoint remotive.io/api/remote-jobs will be terminated in June
        2022. Thank you!", "0-legal-notice": "Legal warning - Hey, thanks for using
        Remotive''s API, we appreciate it! Please note that API documentation and
        access is granted so that developers can share our jobs further. Please do
        not submit Remotive jobs to third Party websites, including but not limited
        to: Jooble, Neuvoo, Google Jobs, LinkedIn Jobs. Please link back to the URL
        found on Remotive AND mention Remotive as a source in order to Remotive to
        get traffic from your listing. If you don''t do that, we''ll terminate your
        API access, sorry! Jobs displayed are delayed by 24 hours, the goal being
        that jobs are attributed to Remotive on various platforms. Displaying our
        jobs in order to collect signups/email addresses to show a listing constitutes
        a breach of our terms of services. We offer a private, paid-for API, please
        email us at hello(at)remotive(dot)io for more information (starting budget
        is $5k/mo). Please find out terms of services on https://remotive.com/api-documentation.
        Please note that there is absolutely no need to request Remotive Job data
        too frequently. Typically, you only need to GET Remotive job data through
        this API a couple of times a day (we advise max. 4 times a day). Our data
        is not changing much faster than that anyway. Note that excessive requests
        will be blocked. Many thanks (Rodolphe & the Remotive team!)", "job-count":
        23, "total-job-count": 23, "jobs": [{"id": 2082736, "url": "https://remotive.com/remote-jobs/marketing/senior-amazon-brand-manager-2082736",
        "title": "Senior Amazon Brand Manager", "company_name": "GNO Partners", "company_logo":
        "https://remotive.com/job/2082736/logo", "category": "Marketing", "tags":
        ["amazon", "backend", "project management", "PPC"], "job_type": "full_time",
        "publication_date": "2026-02-26T07:45:46", "candidate_required_location":
        "Worldwide", "salary": "$220k-$300k OTE", "description": "<p style=\"margin-bottom:
        20px; padding: 0px; border-style: initial; font-variant-numeric: inherit;
        font-variant-east-asian: inherit; font-variant-alternates: inherit; font-variant-position:
        inherit; font-variant-emoji: inherit; font-stretch: inherit; line-height:
        1.7; font-optical-sizing: inherit; font-kerning: inherit; font-feature-settings:
        inherit; font-variation-settings: inherit; vertical-align: baseline; text-rendering:
        optimizelegibility; color: #444444; letter-spacing: 0.5px;\"><span style=\"font-weight:
        600; margin: 0px; padding: 0px; border-style: initial; font-style: inherit;
        font-variant: inherit; font-stretch: inherit; line-height: inherit; font-optical-sizing:
        inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings:
        inherit; vertical-align: baseline;\"><u style=\"margin: 0px; padding: 0px;
        border-style: initial; font-style: inherit; font-variant: inherit; font-weight:
        inherit; font-stretch: inherit; line-height: inherit; font-optical-sizing:
        inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings:
        inherit; vertical-align: baseline;\">Why Join Us?</u></span></p>\n<ul style=\"\">\n<li
        style=\"\">Fully remote Amazon consulting agency.</li>\n<li style=\"\">High-performance
        culture: hard work, speed, over-delivery, and trust.</li>\n<li style=\"\"><span
        style=\"font-weight: 600; margin: 0px; padding: 0px; border-style: initial;
        font-style: inherit; font-variant: inherit; font-stretch: inherit; line-height:
        inherit; font-optical-sizing: inherit; font-kerning: inherit; font-feature-settings:
        inherit; font-variation-settings: inherit; vertical-align: baseline;\">Competitive
        Compensation: Total OTE of $220,000-$300,000+.</span>\n<ul style=\"\">\n<li
        style=\"\">Base Salary: $120,000</li>\n<li style=\"\">Performance-Based Earnings:
        Realistically getting an extra $180,000 per year based on performance, and
        more (no cap).</li>\n</ul>\n</li>\n</ul>\n<ul style=\"\">\n<li style=\"\">Work
        with a team that\u00a0<span style=\"font-weight: 600; margin: 0px; padding:
        0px; border-style: initial; font-style: inherit; font-variant: inherit; font-stretch:
        inherit; line-height: inherit; font-optical-sizing: inherit; font-kerning:
        inherit; font-feature-settings: inherit; font-variation-settings: inherit;
        vertical-align: baseline;\">lives and breathes Amazon</span>\u00a0while having
        fun doing it.</li>\n</ul>\n<p style=\"margin-bottom: 20px; padding: 0px; border-style:
        initial; font-variant-numeric: inherit; font-variant-east-asian: inherit;
        font-variant-alternates: inherit; font-variant-position: inherit; font-variant-emoji:
        inherit; font-stretch: inherit; line-height: 1.7; font-optical-sizing: inherit;
        font-kerning: inherit; font-feature-settings: inherit; font-variation-settings:
        inherit; vertical-align: baseline; text-rendering: optimizelegibility; color:
        #444444; letter-spacing: 0.5px;\"><span style=\"font-weight: 600; margin:
        0px; padding: 0px; border-style: initial; font-style: inherit; font-variant:
        inherit; font-stretch: inherit; line-height: inherit; font-optical-sizing:
        inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings:
[...]
