---
http_interactions:
- request:
    method: get
    uri: https://www.nexxt.com/jobs/search/rss?k=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Beyond-Iis:
      - WFE07
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<rss version=\"2.0\">\r\n
        \ <channel>\r\n    <title>Nexxt - Ruby Jobs</title>\r\n    <link>http://www.nexxt.com/jobs/search/rss?k=ruby</link>\r\n
        \   <description>Nexxt Career Content and Job Postings - RSS/XML and MyYahoo
        Feed powered by Nexxt</description>\r\n    <language>en-us</language>\r\n
        \   <image>\r\n      <url>https://d1rdnyrx5i71py.cloudfront.net/portal/common/images/logos/beyond-logo-144-30.gif</url>\r\n
        \     <link>http://www.nexxt.com/jobs/search/rss?k=ruby</link>\r\n      <title>Nexxt
        - Ruby Jobs</title>\r\n    </image>\r\n    <copyright>Copyright 2001-2021
        Nexxt.com, Inc. All Rights Reserved.</copyright>\r\n    <lastBuildDate>Sun,
        01 Aug 2021 23:20:01 GMT</lastBuildDate>\r\n    <ttl>60</ttl>\r\n    <item>\r\n
        \     <title>Ruby on Rails Developer - Remote - Indianapolis, IN 46201</title>\r\n
        \     <link>http://www.nexxt.com/t/?tcid=1357&amp;zid=631&amp;ttid=2&amp;rtid=1&amp;aff=&amp;rid=1705444692&amp;red=https%3a%2f%2fwww.nexxt.com%2fjobs%2fjob%2fview%3furl%3dhttps%253a%252f%252fwww.nexxt.com%252ft%253ftcid%253d18079%2526ttid%253d2%2526zid%253d585%2526rtid%253d1%2526rid%253d1705444692%2526bydrpc%253d%2526red%253dhttps%25253a%25252f%25252fwww.click2apply.net%25252fr7A2rgH57w71UKNqSrnGE%2526src%253d626</link>\r\n
        \     <description>Location: Indianapolis, Indiana Salary: 50k USD - 300K
        USD Job Type: Contract Design your full-time freelance career as a top freelance
        developer with Toptal. Freelance work is defining developer careers in exciting
        new ways. If you&#39;re passionate about finding rapid...</description>\r\n
        \     <guid>Job Opportunity Number: 1705444692</guid>\r\n      <pubDate>Thu,
        29 Jul 2021 04:00:00 GMT</pubDate>\r\n    </item>\r\n    <item>\r\n      <title>Ruby
        on Rails Developer - Remote - San Diego, CA 92101</title>\r\n      <link>http://www.nexxt.com/t/?tcid=1357&amp;zid=631&amp;ttid=2&amp;rtid=1&amp;aff=&amp;rid=1705444834&amp;red=https%3a%2f%2fwww.nexxt.com%2fjobs%2fjob%2fview%3furl%3dhttps%253a%252f%252fwww.nexxt.com%252ft%253ftcid%253d18079%2526ttid%253d2%2526zid%253d585%2526rtid%253d1%2526rid%253d1705444834%2526bydrpc%253d%2526red%253dhttps[...]
