---
http_interactions:
- request:
    method: get
    uri: https://www.nexxt.com/jobs/search/rss?k=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Beyond-Iis:
      - WFE03
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<rss version=\"2.0\">\r\n
        \ <channel>\r\n    <title>Nexxt - Ruby Jobs</title>\r\n    <link>http://www.nexxt.com/jobs/search/rss?k=ruby</link>\r\n
        \   <description>Nexxt Career Content and Job Postings - RSS/XML and MyYahoo
        Feed powered by Nexxt</description>\r\n    <language>en-us</language>\r\n
        \   <image>\r\n      <url>https://d1rdnyrx5i71py.cloudfront.net/portal/common/images/logos/beyond-logo-144-30.gif</url>\r\n
        \     <link>http://www.nexxt.com/jobs/search/rss?k=ruby</link>\r\n      <title>Nexxt
        - Ruby Jobs</title>\r\n    </image>\r\n    <copyright>Copyright 2001-2021
        Nexxt.com, Inc. All Rights Reserved.</copyright>\r\n    <lastBuildDate>Thu,
        30 Sep 2021 13:03:48 GMT</lastBuildDate>\r\n    <ttl>60</ttl>\r\n    <item>\r\n
        \     <title>Ruby Developer - San Francisco, CA 94112</title>\r\n      <link>http://www.nexxt.com/t/?tcid=1357&amp;zid=631&amp;ttid=2&amp;rtid=1&amp;aff=&amp;rid=1796782775&amp;red=https%3a%2f%2fwww.nexxt.com%2fjobs%2fjob%2fview%3furl%3dhttps%253a%252f%252fwww.nexxt.com%252ft%253ftcid%253d64501%2526ttid%253d2%2526zid%253d585%2526rtid%253d1%2526rid%253d1796782775%2526bydrpc%253d%2526red%253dhttps%25253a%25252f%25252fclick.appcast.io%25252ftrack%25252fb4bnt01%25253fcs%25253df7y%252526jg%25253d2wis%252526bid%25253dUrTPMrWPA4b0gdkX8tdLUw%25253d%25253d%2526src%253d626</link>\r\n
        \     <description>Our esteemed client is looking to hire an experienced Senior
        Ruby Developer with experience in building, scaling, and operating large backend
        infrastructures and...</description>\r\n      <guid>Job Opportunity Number:
        1796782775</guid>\r\n      <pubDate>Sun, 26 Sep 2021 04:00:00 GMT</pubDate>\r\n
        \   </item>\r\n    <item>\r\n      <title>Ruby Engineer - Chicago, IL 60654</title>\r\n
        \     <link>http://www.nexxt.com/t/?tcid=1357&amp;zid=631&amp;ttid=2&amp;rtid=1&amp;aff=&amp;rid=1795830263&amp;red=https%3a%2f%2fwww.nexxt.com%2fjobs%2fjob%2fview%3furl%3dhttps%253a%252f%252fwww.nexxt.com%252ft%253ftcid%253d64501%2526ttid%253d2%2526zid%253d585%2526rtid%253d1%2526rid%253d1795830263%2526bydrpc%253d%2526red%253dhttps%25253a%25252f%2525[...]
