[Unit]
Description=Sidekiq for WWWorkRemote Core (Production)
After=syslog.target network.target redis-server.service

[Service]
Type=notify
WatchdogSec=10

WorkingDirectory=/home/deploy/projects/wwworkremote/core/current
ExecStart=/bin/bash -c 'PATH=/home/deploy/.asdf/shims:$PATH exec /home/deploy/projects/wwworkremote/core/current/sbin/sidekiq -e production'

ExecReload=/bin/kill -TSTP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID

User=deploy
Group=deploy
UMask=0002

Environment=MALLOC_ARENA_MAX=2

RestartSec=1
Restart=on-failure

StandardOutput=journal
StandardError=journal

SyslogIdentifier=sidekiq

[Install]
WantedBy=multi-user.target

